<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Atlas des Agricultures du Monde | {% block title %}
        {% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets output="assets/css/compiled/fosuserbundlelayout.css" filter="cssrewrite"
        'bundles/app/css/bootstrap.min.css'
        'bundles/app/font-awesome/css/font-awesome.css'
        'bundles/app/css/inspinia.css'
        'bundles/app/css/animate.css'
        'bundles/app/css/agroscopic.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block extraheadcontent %}
    {% endblock %}

</head>

<body class="gray-bg">

<div class="loginColumns animated fadeInDown">
    <hr/>
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Atlas des Agricultures du Monde</h2>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
{% block fos_user_content %}
{% endblock fos_user_content %}
            </div>
        </div>
        </div>
    <hr/>
    <a class="btn btn-info btn-sm m-b" href="{{ path("homepage") }}">Accueil</a>

</div>

{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery-2.1.1.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/inspinia.js'
    '@AppBundle/Resources/public/js/plugins/jquery-ui/jquery-ui.min.js'
    output='assets/js/compiled/fosuserbundlelayout.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block extrascripts %}
{% endblock %}

</body>
</html>



