<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricultures du Monde | {% block titre %}{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets output="assets/css/compiled/layout_simple.css" filter="cssrewrite"
        'bundles/app/css/bootstrap.min.css'
        'bundles/app/font-awesome/css/font-awesome.css'
        'bundles/app/css/inspinia.css'
        'bundles/app/css/animate.css'
        'bundles/app/css/agroscopic.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body class="gray-bg">
<div class="text-center animated fadeInDown">
    {% block pagecontent %} {% endblock %}
</div>
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery-2.1.1.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
    '@AppBundle/Resources/public/js/plugins/pace/pace.min.js'
    '@AppBundle/Resources/public/js/inspinia.js'
    '@AppBundle/Resources/public/js/plugins/toastr/toastr.min.js'
    '@AppBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery-ui/jquery-ui.min.js'
    output='assets/js/compiled/layout_simple.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
