parameters:
    database_driver: pdo_pgsql
    database_host: agricultratlas.postgresql.db
    database_port: 5432
    database_name:     agricultratlas
    database_user:     agricultratlas
    database_password: ho3d1c2H
    mailer_transport: gmail
    mailer_user: hugo.lehoux
    mailer_password: 'sqfs?892'
    secret: 4a1826cc3e5937e9544fd9fa8b2e2df978a704a4
    mailer_host: 127.0.0.1
