{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


    {% block extraheadcontent %}

    {% endblock %}

{% block fos_user_content %}
    <p>
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </p>

{% endblock %}

{% block extrascripts %}

{% endblock %}